body {
    
    background-color: #E9E9E9;
    display: block;
    width: 1300px;
    margin: auto;
    padding: 75px;
  }
  
  .rotesteDreapta {
    position:relative;
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    float: left;
    transform: rotate(7deg); 
    transition: all 0.5s;
    z-index:0;
  }
  
  .rotesteStanga {
    position:relative;
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    float: left;
    transform: rotate(-7deg);
    transition: all 0.5s;
    z-index:0;
  }

  #titlu {
    display: block;
    color: steelblue;
    width: 700px;
    height: 150px;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

/* Faceti ca la trecerea cu mouse-ul peste imagini acestea sa aiba
width-ul de 600px
rotatia de 0 grade
padding de 0px;
z-index:1;


*/

img:hover{
  width: 600px;
  transform: rotate(0deg);
  padding: 0px;
  z-index: 1;
}

